[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

"autopep8" = "*"
"pep8" = "*"
ipython = "*"
pytest = "*"
pytest-console-scripts = "*"
pytest-docker = "*"
pytest-pylint = "*"
recommonmark = "*"
sphinx = "*"
sphinxcontrib-programoutput = "*"
sphinxcontrib-restbuilder = "*"
yapf = "*"
isort = "*"
pre-commit = "*"
autoflake = "*"
pylint = "*"
vulture = "*"
mypy = "*"
python-rapidjson = "*"
inflect = "*"


[packages]

aiodns = "*"
aiofiles = "*"
aiohttp = "*"
aiomysql = "*"
certifi = "*"
click = "*"
click-spinner = "*"
cytoolz = "*"
funcy = "*"
janus = "*"
jsonrpcserver = "*"
langdetect = "*"
maya = "*"
mysqlclient = "*"
pymysql = "*"
python-json-logger = "*"
rollbar = "*"
sqlalchemy = "*"
structlog = "*"
toolz = "*"
ujson = "*"
"urllib3" = "*"
uvloop = "*"
"w3lib" = "*"
jsonrpcclient = "*"
python-rapidjson = "*"
aiopg = "*"
"psycopg2" = "*"
colorama = "*"
tqdm = "*"


[requires]

python_version = "3.6"
