[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"autopep8" = "*"
"pep8" = "*"
ipython = "*"
pytest = "*"
pytest-console-scripts = "*"
pytest-docker = "*"
pytest-pylint = "*"
yapf = "*"
isort = "*"
pre-commit = "*"
autoflake = "*"
pylint = "*"
vulture = "*"
mypy = "*"
python-rapidjson = "*"
inflect = "*"
awscli = "*"
pytest-asyncio = "*"

[packages]
aiodns = "*"
aiofiles = "*"
aiohttp = "*"
certifi = "*"
click = "*"
click-spinner = "*"
cytoolz = "*"
funcy = "*"
janus = "*"
jsonrpcserver = "*"
maya = "*"
mysqlclient = "*"
python-json-logger = "*"
sqlalchemy = "*"
structlog = "*"
toolz = "*"
ujson = "*"
uvloop = "*"
"w3lib" = "*"
jsonrpcclient = "*"
python-rapidjson = "*"
aiopg = "*"
colorama = "*"
tqdm = "*"
python-dateutil = "*"
requests = "*"
asyncpg = "*"
"jinja2" = "*"
sqlalchemy-utils = "*"
serpy = "*"
"psycopg2-binary" = "*"
inflect = "*"
"boto3" = "*"
"psycopg2" = "*"
furl = "*"
cchardet = "*"
"ciso8601" = "*"

[requires]
python_version = "3.6"
