# -*- coding: utf-8 -*-
import dateutil.parser

from funcy import flatten
from sqlalchemy import DateTime
from sqlalchemy import String
from sqlalchemy import Column
from sqlalchemy import Numeric
from sqlalchemy import Unicode
from sqlalchemy import UnicodeText
from sqlalchemy import Boolean
from sqlalchemy import SmallInteger
from sqlalchemy import Integer
from sqlalchemy import BigInteger
from sqlalchemy import ForeignKeyConstraint
from sqlalchemy import PrimaryKeyConstraint
from sqlalchemy import Index
from sqlalchemy import ARRAY
from sqlalchemy.dialects.postgresql import JSONB
from toolz.dicttoolz import dissoc

import sbds.sbds_json

from ..{{op_rel_import_dot}}import Base
from ...{{op_rel_import_dot}}enums import operation_types_enum
from ...{{op_rel_import_dot}}field_handlers import json_string_field
from ...{{op_rel_import_dot}}field_handlers import amount_field
from ...{{op_rel_import_dot}}field_handlers import amount_symbol_field
from ...{{op_rel_import_dot}}field_handlers import comment_body_field


class {{op_class_name}}(Base):
    """

    {% include 'blockchain_example.tmpl' %}

    {% include 'cpp_source.tmpl' %}

    """

    __tablename__ = '{{op_table_name}}'
    __table_args__ = (
        {% if 'virtual' not in op_table_name -%}
        PrimaryKeyConstraint('block_num', 'transaction_num', 'operation_num'),
        {%-  endif %}
        {%- for ref in refs %}
            {%  if ref.type == 'account_name_type' %}
        ForeignKeyConstraint(['{{ ref.field_name }}'], ['sbds_meta_accounts.name'],
            deferrable=True, initially='DEFERRED', use_alter=True),
            {% endif %}
        {% endfor -%}
        {%  if refs|length > 0 -%}
        Index('ix_{{op_table_name}}_accounts','accounts',postgresql_using='gin')
        {% endif %}
    )

    {% if 'virtual' in op_table_name -%}
    id = Column(Integer, primary_key=True)
    {% endif %}
    block_num = Column(Integer, nullable=False)
    transaction_num = Column(SmallInteger, nullable=False)
    operation_num = Column(SmallInteger, nullable=False)
    timestamp = Column(DateTime(timezone=False))
    trx_id = Column(String(40),nullable=False)
    accounts = Column(ARRAY(String(16)))
    {% for col in op_columns -%}
        {{col}}
    {% endfor -%}
    operation_type = Column(operation_types_enum,nullable=False,default='{{op_short_name}}')


    _fields = dict(
        {% for field in op_fields -%}
            {{field}}
        {% endfor -%}
        {%  if refs|length > 0 -%}
        accounts=lambda x:tuple(flatten(({% for ref in refs -%}x.get('{{ ref.field_name  }}'),{% endfor -%})))
        {%  endif -%}
    )

    _account_fields = frozenset([{% for ref in refs %}'{{ ref.field_name }}',{% endfor %}])
