# -*- coding: utf-8 -*-
from .views import view


COUNT_OPERATIONS_SELECT_SQL = '''
    {% for table_name in all_tables %}
        SELECT COUNT(*) AS count FROM {{ table_name }}
    {% if not loop.last %}UNION ALL{% endif %}
    {%- endfor -%};
'''


