# -*- coding: utf-8 -*-
from .views import view

'''
def should_create(ddl, target, connection, **kw):
    row = connection.execute(
        "select conname from pg_constraint where conname='%s'" %
        ddl.element.name).scalar()
    return not bool(row)

def should_drop(ddl, target, connection, **kw):
    return not should_create(ddl, target, connection, **kw)

event.listen(
    users,
    "after_create",
    DDL(
        "ALTER TABLE users ADD CONSTRAINT "
        "cst_user_name_length CHECK (length(user_name) >= 8)"
    ).execute_if(callable_=should_create)
)
event.listen(
    users,
    "before_drop",
    DDL(
        "ALTER TABLE users DROP CONSTRAINT cst_user_name_length"
    ).execute_if(callable_=should_drop)
)

SQLusers.create(engine)

SQLusers.drop(engine)
'''


ALL_OPERATIONS_SELECT_SQL = '''
    {% for table_name in all_tables -%}
        {% if 'virtual' in table_name %}
    SELECT block_num,transaction_num,operation_num,id::text as id,operation_type FROM {{ table_name }}
        {% else %}
    SELECT block_num,transaction_num,operation_num,trx_id as id,operation_type FROM {{ table_name }}
        {% endif -%}
    {% if not loop.last %}UNION ALL{% endif %}
    {%- endfor -%};
'''

REAL_OPERATIONS_SELECT_SQL = '''
    {% for table_name in real_tables -%}
    SELECT block_num,transaction_num,operation_num,trx_id as id,operation_type FROM {{ table_name }}
    {% if not loop.last %}UNION ALL{% endif %}
    {% endfor -%};
'''

VIRTUAL_OPERATIONS_SELECT_SQL = '''
    {% for table_name in virtual_tables -%}
    SELECT block_num,transaction_num,operation_num,id::text as id,operation_type FROM {{ table_name }}
    {% if not loop.last %}UNION ALL{% endif %}
    {% endfor -%};
'''

BLOCKS_VIEW_SQL = '''
    SELECT sbds_core_blocks.block_num as block_num,
           sbds_core_blocks.timestamp as timestamp,
            {% for table_name in all_tables -%}
            {% if 'virtual' in table_name %}
            {{ table_name }}.transaction_num as {{ table_name }}_tx_num,
            {{ table_name }}.operation_num as {{ table_name }}_op_num,
            {{ table_name }}.id as {{ table_name }}_trx_id,
             1 as {{ table_name }}_virtual,
            {{ table_name }}.operation_type as {{ table_name }}_type{% if not loop.last %},{% endif -%}
            {% else %}
            {{ table_name }}.transaction_num as {{ table_name }}_tx_num,
            {{ table_name }}.operation_num as {{ table_name }}_op_num,
            {{ table_name }}.trx_id as {{ table_name }}_trx_id,
            0 as {{ table_name }}_virtual,
            {{ table_name }}.operation_type as {{ table_name }}_type{% if not loop.last %},{% endif -%}
        {% endif -%}
    {%- endfor -%}
    FROM sbds_core_blocks
    {% for table_name in all_tables -%}
        JOIN {{ table_name }} USING(block_num)
    {% endfor -%};
'''

def create_operations_view():
    from sbds.storages.db.tables import metadata
    operations_view = view('sbds_views_operations',metadata, OPERATIONS_SELECT_SQL)

create_operations_view()
